<mat-toolbar  class="my_navar">
  <span>My App</span>




  <span class="spacer"></span>
  <!--Button Menu-->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <!--Menu-->
  <mat-menu #menu="matMenu" class="my_navbar" >
        
    <app-auth-links></app-auth-links>
      
    
  </mat-menu>
 
</mat-toolbar>


<!-- Navegador -->
<mat-tab-group  >
  <!-- Link to Home -->
  <mat-tab >

    <ng-template mat-tab-label >

      <button mat-button  routerLink="/" >Home</button>
    </ng-template>
  </mat-tab>

<!-- Account-->
<mat-tab>
    <ng-template mat-tab-label>
      <button mat-button  routerLink="profile">Profile</button>
    </ng-template>
  </mat-tab>

 


</mat-tab-group>